<img class="full-page-background" src="assets/img/first.jpg" style="position: fixed">

<div class="row" style="height: 150px"></div>
<div class="row">
    <div class="col-md-2" ></div>
    <div class="col-md-4" >
        <div class="card " style="position: fixed; width: 350px;  opacity: 0.8;">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="fas fa-user"></i>
                </div>
                <h4 class="card-title">Login Form</h4>
            </div>
            <div class="card-body">
                <form action="#" method="#" [formGroup]="loginForm" *ngIf="loginForm">
                    <div class="form-group">
                        <label class="bmd-label-floating" for="exampleEmail">Email Address</label>
                        <input class="form-control" id="exampleEmail" type="email" formControlName="username">
                    </div>
                    <div class="form-group">
                        <label class="bmd-label-floating" for="examplePass">Password</label>
                        <input class="form-control" id="examplePass" type="password" formControlName="password">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""> Remember password
                            <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                        </label>
                    </div>
                </form>
            </div>
            <div class="card-footer ">
                <button class="btn btn-fill btn-rose" type="submit" (click)="login()">Submit</button>
            </div>
        </div>
    </div>
</div>

<!--        <button (click)="login()" class="btn" to="body">Login</button>-->
